*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

}

body{
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
.card{
    background: #CBB8C8;
    width: 400px;
    height: 350px;
    border-radius: 20px;
    margin: 110px auto 0 auto;
}
.card:hover{
    box-shadow: 5px 10px 10px wheat;
}
.imge{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.imge img{
    width: 200px;
    margin-top: -70px;
    
    
    
}
.input{
    margin-top: 50px;
    margin-left: 100px;

}



.input input{
    padding: 7px;
    margin-top: 10px;
    border-radius: 10px;
    background: #01264E;
    color: #ffff;
    
   
    
}
.input i{
  background: #01264E;
  padding: 10px;
  color: #ffff;
  

}

.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
a{
    font-style: italic;
}
.login{
    margin: 0 auto;
    width: 300px;
    height: 40px;
    background: #C8B3C3;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: center;
}

.login input{
    padding: 0px  20px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    background:#0000;
    color: wheat;
}
.login input:hover{
    color: green;
}